{% extends 'admin/layout.njk' %}
    {% block style %}
        <title>Foodfy - Receitas</title>
    {% endblock style %}
    {% block content %}
        <main>
            <section class="foods">
                <h2>Gerenciar receitas</h2>
                <div class="cards">
                {% for item in items %}
                    <div id="{{item.id}}" class="card">
                        <section class="card-img" style="background: url({{item.receita_url}}) no-repeat center center / cover"></section>
                        <section class="card-description">
                            <h3>{{item.name}}</h3>
                            <p id="author">{{item.author}}</p>
                            <a href="/admin/recipes/{{item.id}}">Visualizar</a>
                        </section>
                    </div>
                {% endfor %}
                </div>
            </section>
        </main>
    {% endblock content %}
