{% extends 'admin/layout.njk' %}

{% block content %}
    <main>
        <form class="create-form" method="POST" action="/admin/recipes" enctype="multipart/form-data">
            <div class="title">
                <h3>Criando Receita</h3>
                <button type="submit">Salvar receita</button>
            </div>
            <div class="form">
                <div class="item">
                    <div>Imagem</div>
                    <div class="photos-view">
                        <div id="photos-upload">
                            <input type="file" multiple name="photos" id="photos-input" accept="image/*" onchange="PhotosUpload.handleFileInput(event)"><i class="material-icons">add</i>
                        </div>
                        <div id="photos-preview">
                            {% if files %}
                                {% for image in files %}
                                    <div class="photo" id="{{image.id}}">
                                        <img src="{{image.src}}" alt="{{image.name}}">
                                        <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                                    </div>
                                {% endfor %}
                                <input type="hidden" name="removed_files">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div>Nome da receita</div>
                    <input class="field" type="text" name="title">
                </div>
                <div class="item">
                    <div>Imagem da receita</div>
                    <input class="field" type="url" name="image">
                </div>
                <div class="item">
                    <div>Chef</div>
                    <div>
                        <select name="chef_id" id="">
                            {% for chef in chefOptions %}
                                <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %}Selected
                                {% endif %}>{{chef.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="item">
                    <div>Ingredientes</div>
                    <div id="ingredients-list">
                        <input class="field" type="text" name="ingredients">
                    </div>
                    <a id="newIngredient">Adicionar novo ingrediente</a>
                </div>
                <div class="item">
                    <div>Modo de Preparo</div>
                    <div id="preparation-list">
                        <input class="field" type="text" name="preparation">
                    </div>
                    <div>
                        <a id="newPreparation">Adicionar novo passo</a>
                    </div>
                </div>
                <div class="item">
                    <div>Informações Adicionais</div>
                    <div>
                        <textarea name="information" rows="10" cols="40"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <script src="/scripts.js"></script>
{% endblock content %}