{% extends "admin/layout.njk" %}

{% block content %}
<div class="content">
    <section class="head">
        <h2>Receita: {{recipes.title}}</h2>
        <a href="/admin/recipes/{{recipes.id}}/edit">Editar receita</a>
    </section>
    <section>
        <div class="receita-image" style="background: url({{recipes.image}}) no-repeat center center / cover"></div>
        <div>Autor: {{recipes.chef_name}}</div>
    </section>
    <section class="itens">
        <div class="item">
            <h3>Ingredientes</h3>
            <ul class="dash">
            {% for item in recipes.ingredients.split(",") %}
                <li>{{item}}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="item">
            <h3>Modo de preparo</h3>
            <ul class="dash">
            {% for item in recipes.preparation.split(",") %}
                <li>{{item}}</li>
            {% endfor %}
            </ul>
        </div>
        {% if recipes.information %}
        <div class="item">
            <h3>Informações adicionais</h3>
            <p>{{recipes.information}}</p>
        </div>
        {% endif %}
    </section>
</div>
{% endblock content %}