{% extends 'chefs/layout.njk' %}

{% block content %}
<main>
    <form class="create-form" method="POST" action="/admin/chefs">
        <div class="title">
            <h3>Criando chef</h3>
            <button type="submit">Salvar chef</button>
        </div>
        <div class="form">
            <div class="item">
                <div>Nome</div>
                <input type="text" name="name" id="">
            </div>
            <div class="item">
                <div>Avatar</div>
                <input type="url" name="avatar_url" id="">
            </div>
        </div>
    </form>
</main>
{% endblock content %}