{% extends 'chefs/layout.njk' %}
{% block content %}
    <main>
        <section class="cards-chefs">
            <div class="title">Gerenciar Receitas</div>
            <section class="chefs">
                <div class="chef">
                    <div class="chef-image" style="background: url(https://images.unsplash.com/photo-1581294958576-36903fe82ed4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover"></div>
                    <div class="chef-information">
                        <div class="chef-name">Felipe</div>
                        <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
                    </div>
                </div>
                <div class="chef">
                    <div class="chef-image" style="background: url(https://images.unsplash.com/photo-1581294958576-36903fe82ed4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover"></div>
                    <div class="chef-information">
                        <div class="chef-name">Caio</div>
                        <a>Visualizar</a>
                    </div>
                </div>
                <div class="chef">
                    <div class="chef-image" style="background: url(https://images.unsplash.com/photo-1581294958576-36903fe82ed4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover"></div>
                    <div class="chef-information">
                        <div class="chef-name">Vitor</div>
                        <a>Visualizar</a>
                    </div>
                </div>
                <div class="chef">
                    <div class="chef-image" style="background: url(https://images.unsplash.com/photo-1581294958576-36903fe82ed4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover"></div>
                    <div class="chef-information">
                        <div class="chef-name">Rodrigo</div>
                        <a>Visualizar</a>
                    </div>
                </div>
                <div class="chef">
                    <div class="chef-image" style="background: url(https://images.unsplash.com/photo-1581294958576-36903fe82ed4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover"></div>
                    <div class="chef-information">
                        <div class="chef-name">Douglas</div>
                        <a>Visualizar</a>
                    </div>
                </div>
                <div class="chef">
                    <div class="chef-image" style="background: url(https://images.unsplash.com/photo-1581294958576-36903fe82ed4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover"></div>
                    <div class="chef-information">
                        <div class="chef-name">Ghabi</div>
                        <a>Visualizar</a>
                    </div>
                </div>
            </section>
        </section>
    </main>
{% endblock content %}