<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style-admin.css">
        {% block style %}
        <title>Foodfy</title>
        {% endblock style %}
    </head>
    <body>
        <header>
            <div class="header-nav">
                <div class="titulo">
                    <a href="#">Foodfy</a>
                </div>
                <nav class="links">
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                </nav>
            </div>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            <p>Todos direitos reservados, receitas Foody</p>
        </footer>
    </body>
</html>