<main>
        <div class="cards-chefs">
            <div class="card-chef">
                <div class="card-title">
                    <div>Chef: Felipe Joazeiro</div>
                    <div id="edit">
                        <button>Editar Chef</button>
                    </div>
                </div>
                <div class="card-img-chef">
                    <div class="img-chef" style="background: url(https://images.unsplash.com/photo-1518148750009-25b2522df9c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60%20no-repeat%20center%20center%20/%20cover) no-repeat center center / cover">
                    </div>
                    <div class="name-chef">
                        <h2>Felipe Joazeiro</h2>
                        <p>4 Receitas</p>
                    </div>
                </div>
                <section class="recipes">
                    <div>Receitas</div>
                    <div class="card-receitas">
                        <div class="receita">
                            <div class="img-receita"
                            style="background: url(https://images.unsplash.com/photo-1568901346375-23c9450c58cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover"
                            >    
                            </div>
                            <div class="img-info">
                                <h3>Hamburguer</h3>
                                <p>Por: Felipe Joazeiro</p>
                                <button>Visualizar</button>
                            </div>
                        </div>
                        <div class="receita">
                            <div class="img-receita"
                            style="background: url(https://images.unsplash.com/photo-1568901346375-23c9450c58cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover"
                            >
                            </div>
                            <div class="img-info">
                                <h3>Hamburguer</h3>
                                <p>Por: Felipe Joazeiro</p>
                                <button>Visualizar</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>