*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    
    font-family: 'Roboto', sans-serif;
}
#actual{
    font-weight: bold;
}
header{
    width:60%;
    height: 100%;
    margin: 0 auto;
    margin-top: 1.3%;
    margin-bottom: 2.7%;
    display: flex;
    text-align: center;
    align-items: center;
}
.titulo a{
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    font-size: 24px;
    margin-right: 150px;
    text-decoration: none;
}
header .links{
    margin-top: 10px
}
.links a{
    font-size: 16px;
    margin-right: 25px;
    text-decoration: none;
    color: #111111;
}
.container{
    width:60%;
    height: 100%;
    margin: 0 auto;
    height: 380px;
    background-color: #FBDFDB;
    border-radius: 30px;
    display: flex;
}
.container .descricao{
    width: 40%;
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 17.7%;
}
.container .descricao h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2.9%;
}
.container .descricao p{
    width: 316px;
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}
.container .imagem{
    margin-top: 6.9%;

}
.container .imagem img{
    width: 216px;
    height: 300px;
}

.foods{
    margin: 0 auto;
    margin-top: 4.5%;
    width:60%;
    height: 100%;
    
}
.cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 45px;
    margin-top: 1.8%;
    margin-bottom: 80px;
}

.card-img img{
    width: 100%;
    height: 160px;
    border-radius: 15px;
}
.card-description h3{
    color:#111111;
    font-size: 18px;
    margin: 2.5% 0 1% 0;
}
.card-description p{
    color: #777777;
    font-size: 14px;
}
footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #EEEEEE;
    display: inline-block;
    text-align: center;
    vertical-align: text-bottom;
    height: 62px;
}
footer p{
    padding-top: 20px;
}
