{% extends 'receitas/layout.njk' %}
{% block style %}
    <title>Foodfy - {{receita.name}}</title>
    <link rel="stylesheet" href="prato.css">
{% endblock style %}
{% block content %}
    <main>
        <section class="ilustracao">
            <div class="item">
                <img src='/assets/{{receita.id}}.png' alt="Imagem de {{item.name}}">
                <h1>{{receita.name}}</h1>
                <p>{{receita.author}}</p>
            </div>
        </section>
        <section class="text">
            <section class="sobre">
                <div class="subject">
                    <h2>Ingredientes</h2>
                    <p id="open-close1" class="show"><span class="show1">Mostrar</span><span class="hide1  visible">Esconder</span></p>                </div>
                <div class="ingredientes">
                    <ul class="lista ">
                        {% for ingrediente in receita.ingredients %}
                            <li>{{ingrediente}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <section class="modo-preparo">
                <div class="subject">
                    <h2>Modo de Preparo</h2>
                    <p id="open-close2" class="show"><span class="show2 visible">Mostrar</span><span class="hide2">Esconder</span></p>                
                </div>
                <div class="preparo">
                    <ol class="lista">
                        {% for preparo in receita.preparation %}
                            <li>{{preparo}}</li>
                        {% endfor %}
                    </ol>
                </div>
            </section>
            {% if receita.information %}
                <section class="info">
                    <div class="subject">
                        <h2>Informações adicionais</h2>
                    <p id="open-close3" class="show"><span class="show3 visible">Mostrar</span><span class="hide3">Esconder</span></p>
                    </div>
                    <div class="information">
                        <p>{{receita.information}}</p>
                    </div>
                </section>
            {% endif %}
        </section>
    </main>
    <script src="pratos.js"></script>
{% endblock content %}