{% extends 'receitas/layout.njk' %}
    {% block style %}
        <title>Foodfy - Receitas</title>
        <link rel="stylesheet" href="receitas.css">
    {% endblock style %}
    {% block content %}
        <main>
            <section class="foods">
                <div class="cards">
                {% for item in items %}
                    <div id="{{item.id}}" class="card">
                        <div class="card-img">
                            <img src='/assets/{{item.id}}.png' alt="">
                        </div>
                        <div class="card-description">
                            <h3>{{item.name}}</h3>
                            <p id="author">{{item.author}}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </section>
        </main>
        <script src="index.js"></script>
    {% endblock content %}
